extends layout

block content

  table.table
   thead
      tr
        th.col CompanySeq
        th.col UserSeq
        th.col UserId
        th.col UserType
        th.col UserName
        th.col EmpSeq
        th.col LoginPwd
        th.col CustSeq
        th.col DeptSeq
        th.col UserSecu
        th.col LoginStatus
        th.col LoginDate
        th.col PwdChgDate
        tbody
          each val, index in results.recordset
            tr
              td=val.CompanySeq
              td=val.UserSeq
              td=val.UserId
              td=val.UserType
              td=val.UserName
              td=val.EmpSeq
              td=val.LoginPwd
              td=val.CustSeq
              td=val.DeptSeq
              td=val.UserSecu
                
                
