
doctype html
html
  head
    title AMO CSR
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
  
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')

    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
    //- Notify 라이브러리 import: http://bootstrap-notify.remabledesigns.com/
    script(src='/javascripts/bootstrap-notify.js')
    script(src='/socket.io/socket.io.js') 
    //- this application
    link(rel='stylesheet', href='stylesheets/style.css')
  body(style= "background-image:url('background.png')")
    block top-nav
    block hero-unit
    if flashMessages
      each texts, type in flashMessages
        .container
          .alert(class=`alert-${type}`)
            each msg in texts
              | #{msg} 
            button.close(type='button', data-dismiss='alert', aria-label='close')
              span(aria-hidden='true') &times;
    block content
block content
  .container
    .clearfix(style="margin-top: 120px")
      form.form-signin(action='/signin', method='POST')
        div.card
          div.card-body
            img(src='logo2.jpg' style="width: 300px")
            br
            label.sr-only(for='userid') ERP아이디
            input(
              type='text', id='userid', name='userid', class='form-control', 
              placeholder='ERP ID', required, autofocus
            )
            br
            label.sr-only(for='password') 비밀번호
            input(
              type='password', id='password', name='password', class='form-control', 
              placeholder='password', required, autofocus
            )
            form-check.from-check-inline
            br
            button.btn.btn-primary.btn-block(type='submit') 로그인
  script.
        
    // WebSocket을 만들고 접속
      var socket = io();
        
      socket.on('welcome', function() {
        // welcome 메시지를 받으면 join을 보낸다.
        console.log('received welcome');
        socket.emit('join');
      });
        
      socket.on('answered', function(data) {
        // answered를 받으면 링크를 notifier로 출력한다.
        var title = $('<div></div>').text(data.question.title).html();
        $.notify({
        icon: 'fa fa-bell',
        title: '답변이 달렸습니다.',
        url: data.url,
        message: title
      });
    });


      
