extends ../layout

block content
  .container
    h1.main-title Profile Update
    form(action=`/users/${user._id}?_method=PUT`, method='POST')
      .form-group
        label(for='userid') userid
        input.form-control(type='text', id='userid', name='userid', placeholder='userid', value=user.userid)
      .form-group
        label(for='name') name
        input.form-control(type='text', id='name', name='name', placeholder='name', value=user.name)
      .form-group
        label(for='email') Email address
        input.form-control(type='email', id='email', name='email', placeholder='Email', value=user.email)
      .form-group
        label(for='adminflag') adminflag
        input.form-control(type='text', id='adminflag', name='adminflag', placeholder='adminflag', value=user.adminflag)
      a.btn.btn-outline-secondary(href='javascript:window.history.back();') Back 
      | 
      button.btn.btn-primary(type='submit') Update
