
.answer.card
  .card-body
    if answer.secret == 0 
      .content!= answer.noticeContent
    else if answer.secret == 1&&question.author.id==currentUser.id || answer.secret ==1 && answer.author.id == currentUser.id
      .content!= answer.noticeContent
    else if answer.secret == 1
      .content(style='color: #A71111') 비밀글 입니다. 요청자, 댓글 작성자만 확인할 수 있습니다.

  .row.card-body
    .col-sm
    .col-sm.text-right
      .author
        | answered on #{moment(answer.createdAt).format('YYYY-MM-DD')}
        if answer.author
          | 
          | by #[a(href=`/users/${answer.author.id}`)= answer.author.name]
  if answer.author && answer.author.id == currentUser.id
    .nav.nav-pill
      a.btn.btn-primary.btn-sm(id='answer-edit-btn' data-id=answer.id) 수정
      | 
      a.btn.btn-danger.btn-sm(id='answer-delete-btn' href=`/questions/answers/${answer.id}?_method=delete`) 삭제
  hr
