
.form-group
  label(for="title") 제목
  input(
    type='text', id='title', name='title', class='form-control', value=question.title
    placeholder='제목', required, autofocus
  )
#form-row.row
  .col
    .form-group
        event 법인
            .event-topic
                select#event-tomenu1.form-control(type="text",name='selectoption', value=question.selectoption)
                    option(value='', selected='') 선택하세요
                    option(value='100') 아모텍
                    option(value='101') 아모그린텍
                    option(value='102') 아모센스
                    option(value='103') 아모라이프사이언스
                    option(value='104') 기타 


                    
  .col
    .form-groups
        event 담당자
          .selectoption
                select#event-tomenu2.form-control(type="text",name='manager', value=question.manager)
                  option(value='', selected='') 선택하세요
                  option(value='01') 김기권(BIS, 해외출장, VPN/UTM)
                  option(value='02') 금봉권(ECM, 네트워크)
                  option(value='04') 김우성(Email, AMONET, ERP)
                  option(value='05') 강현모(USB, 소프트웨어, ERP PLUS)            
                    



.form-group
  label(for='editor') 내용 (*파일, 이미지는 직접 파일을 드래그해서 올려놓으면 됩니다.)
  textarea#comment.form-control( type='text', name='noticeContent', 
  placeholder='내용', required, autofocus ) #{question.noticeContent}
    
    
  script.
    var EDITOR_NAME='comment';
    CKEDITOR.replace('comment',{
      height: 500
    });


      
      


 
