
.form-group
  input(type='checkbox' name='secretnum' value=1)
  | 비밀글(급여, 신규입사자, 회계등 개인정보나 민감한 사항이 포함되어있을 시 체크 부탁드립니다.)
  br
  label(for="title") 제목
  input(
    type='text', id='title', name='title', class='form-control', value=question.title
    placeholder='제목', required, autofocus
  )


.row
  .col-xs-6
    .form-group
      event 법인
        .event-topic
          select#event-tomenu1.form-control(type="text",name='company')
            option(value='', selected='') 선택하세요
            each company in companys
              option(value=company.number)=company.name         
  .col-xs-6
    .form-group
      event 담당자
        .company
          select#event-tomenu2.form-control(type="text",name='manager')
            option(value='', selected='') 선택하세요
            option(value='01') 김기권(BIS, 해외출장, VPN/UTM)
            option(value='02') 금봉권(ECM 장애, 네트워크 장애)
            option(value='04') 김우성(Email, AMONET, ERP)
            option(value='05') 강현모(USB, 소프트웨어, ERP PLUS)    
            option(value='06') 김한성(네트워크 연결, ECM 단순문의) 
  
.row
  .col-xs-6
    .form-group
      event 구분
        .item
          select#event-tomenu3.form-control(type="text",name='item')
            option(value='', selected='') 선택하세요
            each option in options
              option(value=option.number)=option.name



.form-group
  label(for='editor') 내용 (*파일, 이미지는 직접 파일을 드래그해서 올려놓으면 됩니다.)
  textarea#comment.form-control( type='text', name='noticeContent', 
  placeholder='내용', required, autofocus ) #{question.noticeContent}
    
    
  script.
    var EDITOR_NAME='comment';
    CKEDITOR.replace('comment',{
      height: 500
    });


      
      


      
      


 
