
.form-group
  label(for="title") 제목
  input(
    type='text', id='title', name='title', class='form-control', value=question.title
    placeholder='제목', required, autofocus
  )
.row
  .col
    .form-group
        event 법인
            .event-topic
                select#event-tomenu1.form-control(type="text",name='selectoption', value=question.selectoption)
                    option(value='', selected='') 선택하세요
                    option(value='아모텍') 아모텍
                    option(value='아모그린텍') 아모그린텍
                    option(value='아모센스') 아모센스
                    option(value='아모라이프사이언스') 아모라이프사이언스
                    option(value='기타') 기타 


                    
  .col
    .form-groups
        event 담당자
          .selectoption
                select#event-tomenu2.form-control(type="text",name='manager', value=question.manager)
                  option(value='', selected='') 선택하세요
                  option(value='김기권') 김기권
                  option(value='금봉권') 금봉권
                  option(value='경민구') 경민구
                  option(value='김우성') 김우성
                  option(value='강현모') 강현모            
                    



.form-group
  label(for='editor') 내용
  textarea#comment.form-control( type='text', name='noticeContent', 
  placeholder='내용', required, autofocus ) #{question.noticeContent}
    
    
  script.
      var EDITOR_NAME='comment';
      CKEDITOR.replace('comment',{
        height: 500
        });


      
      


 
