
.form-group
  label(for="title") 제목
  input(
    type='text', id='title', name='title', class='form-control', 
    placeholder='제목', required, autofocus
  )
.row
  .col
    .form-group
        event 담당자
            .event-topic
                select#event-tomenu.form-control(type="text",name='place', value=question.event)
                    option 김기권
                    option 금봉권
                    option 경민구
                    option 김우성
                    option 강현모
  .col
    .form-groups
        event 법인
          .event-topic
                select#event-tomenu.form-control(type="text",name='eventtopic', value=question.eventtopic)
                    option 아모텍
                    option 아모센스
                    option 아모그린텍
                    option 아모라이프사이언스


.form-group
  label(for='editor') 내용
  textarea#editor.form-control(type='text', name='noticeContent' ,value=question.noticeContent)
    
  script.
      CKEDITOR.replace('editor',{
        height: 500
        });

   	


 
