extends ../layout

include ../includes/_paginate

block content
  .container
    .row
      .main
        h1.main-title 관리자 페이지

    if questions.total <= 0 
      .alert.alert-info 등록된 질문이 없습니다.
      hr
    else
      .container
        table.table.table-hover(style="margin-top:30px")
          thead
            tr.table-head
              th 번호
              th 전산담당자
              th.table-title(style='width: 516px') 제목
              th 댓글
              th 법인
              th 요청자
              th 날짜
              th 조회수
              th 처리상태
              tbody
                each question, index in questions.docs
                  tr
                    td=index+1
                    td=question.manager.name

                    td(style='display: inline-block; width: 500px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap')
                      a(href=`/questions/${question.id}` )=question.title + " "  
                    td
                      span.badge.badge-pill.badge-warning=" + "+question.numAnswers
                      if question.selectoption==100
                        td AMT
                      if question.selectoption==101
                        td AMG
                      if question.selectoption==102
                        td AMS
                      if question.selectoption==103
                        td AML
                      if question.selectoption==104
                        td 기타
                    td=question.author.name
                    td=moment(question.createdAt).format('YYYY-MM-DD')
                    td=question.numReads
                    td
                      if question.status == 0
                        span.label.label-warning 처리중
                      else
                        span.label.label-success 처리완료
      div#pagination
        +paginate(questions, '/questions/adminpage/', query)
    
