extends ../layout

block content
  .container
    .row
      .main
        h1.main-title=question.title
        |
      if question.status==0
        span.label.label-warning 처리중인 요청
      else
        |
        span.label.label-success 처리완료
        
        


    .question.show
      br
      include _question
    
      .buttons
        if question.author && question.author.id == currentUser.id
          | 
          a.btn.btn-primary(href=`/questions/${question.id}/edit`) 수정
          | 
          a.btn.btn-danger(href=`/questions/${question.id}?_method=delete`) 삭제
          |
        if question.status==0 && question.author && question.author.id == currentUser.id || question.status==0 && question.manager.id == currentUser.id
          button.btn.btn-primary.status-btn(data-id=question.id style="float:right" onclick="window.location.reload()") 처리완료
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
        if question.status==1 && question.author && question.author.id == currentUser.id || question.status==1 && question.manager.id == currentUser.id
          button.btn.btn-danger.status-btn(data-id=question.id style="float:right" onclick="window.location.reload()") 처리완료취소
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
       
    if question.numAnswers > 0
      hr
      h3 #{question.numAnswers} 개의 답변(들)
      hr
      .answers.show
        each answer in answers
          include _answer

    if currentUser
      form(action=`/questions/${question.id}/answers`, method='POST')
        .form-group
          label(for='answer') 답변
          textarea#editor.form-control(name="noticeContent", rows="5")
        button.btn.btn-primary(type="submit") 등록


  script(src='/javascripts/question_client.js')
  script.
      var EDITOR_NAME='editor';
      CKEDITOR.replace('editor');
      
