extends ../layout

block content
  .container
    .row
      .col-sm-6
        .main
          h1.main-title=question.title
    .card(style='width:30%')
      .card-body
        .row
          .col-sm
            .card-header
              | 담당자
            ul-list-group.list-group-flush
              li.list-group-item=question.place
          .col-sm
            .card-header
              | 사업장
            ul-list-group.list-group-flush
              li.list-group-item=question.eventtopic
        

    .question.show
      br
      if question.image
        img.img-fluid(src=question.img)
      include _question
    
      .buttons
        if currentUser
          button.btn.btn-primary.question-like-btn(data-id=question.id) 
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-up] 좋아요
          if question.author && question.author.id == currentUser.id
            | 
            a.btn.btn-outline-secondary(href=`/questions/${question.id}/edit`) 수정
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/questions/${question.id}?_method=delete`) 삭제
       
    if question.numAnswers > 0
      hr
      h3 #{question.numAnswers} 개의 답변(들)
      .answers.show
        each answer in answers
          include _answer

    if currentUser
      form(action=`/questions/${question.id}/answers`, method='POST')
        .form-group
          label(for='answer') 답변
          textarea.form-control(name="content", rows="5")
        button.btn.btn-primary(type="submit") 등록


  script(src='/javascripts/question_client.js')
