extends ../layout

include ../includes/_paginate

block content
  .container
    .row
      .main
        h1.main-title 내 요청사항

    if questions.total <= 0 
      .alert.alert-info 등록된 질문이 없습니다.
      hr
      a.btn.btn-primary(href='/questions/new') 새 질문
    else
      .container
        table.table.table-hover(style="margin-top:30px")
          thead
            tr.table-head
              th 번호
              th.table-title(style='width: 516px') 제목
              th
              th 작성자
              th 날짜
              th 조회수
              th 처리상태
              tbody
                each question, index in questions.docs
                  tr
                    td=index+1
                    td(style='display: inline-block; width: 500px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap')
                      a(href=`/questions/${question.id}` )=question.title + " "
                      
                    td
                      span.badge.badge-pill.badge-warning=" + "+question.numAnswers
                    td=question.author.name
                    td=moment(question.createdAt).format('YYYY-MM-DD')
                    td=question.numReads
                    td
                      if question.status == 0
                        span.label.label-default 처리중
                      else
                        span.label.label-primary 처리완료
      +paginate(questions, '/questions', query)
      hr
      a.btn.btn-primary(href='/questions/new') 새 질문
