extends ../layout

include ../includes/_paginate

block content
  .container
    .row
      .main
        a.main-title(href='/questions/userpage') My Page

    if questions.total <= 0 
      .alert.alert-info 등록된 질문이 없습니다.
      hr
      a.btn.btn-primary(href='/questions/new') 새 질문
    else
      
      .container
        table.table.table-hover(style="margin-top:30px")
          thead
            tr.table-head
              th(style='text-align:center') 접수번호
              th(style='text-align:center') 구분
              th(style='text-align:center') CS담당자
              th.table-title(style='width: 516px; text-align:center') 제목
              th 댓글
              th 법인
              th 요청자
              th(style='text-align:center') 등록날짜
              th(style='text-align:center') 완료날짜
              th(style='text-align:center') 조회수
              th 처리상태
              tbody
                each question, index in questions.docs
                  if question.numReads > 25
                    tr(style='background-color:#F68686')
                      td(style='text-align:center')=question.indexnum
                      if question.item
                        td(style='text-align:center')=question.item.name
                      else
                        td
                      td(style='text-align:center')=question.manager.name

                      td(style='display: inline-block; width: 500px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap')
                        a(href=`/questions/${question.id}` )=question.title + " "  
                      td
                        span.badge.badge-pill.badge-warning=" + "+question.numAnswers
                      if question.company
                        td(style='text-align:center')=question.company.name
                      else
                        td
                      td=question.author.name
                      td(style='text-align:center')=moment(question.createdAt).format('YYYY-MM-DD')
                      if question.status==2
                        td(style='text-align:center')=moment(question.statusDate).format('YYYY-MM-DD')
                      else
                        td
                      td(style='text-align:center')=question.numReads
                      td
                        if question.status == 0
                          span.label.label-warning 접수대기
                        if question.status == 1
                          span.label.label-success 처리중
                        if question.status == 2
                          span.label.label-success 처리완료
                  else
                    tr
                      td(style='text-align:center')=question.indexnum
                      if question.item
                        td(style='text-align:center')=question.item.name
                      else
                        td
                      td(style='text-align:center')=question.manager.name

                      td(style='display: inline-block; width: 500px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap')
                        a(href=`/questions/${question.id}` )=question.title + " "  
                      td
                        span.badge.badge-pill.badge-warning=" + "+question.numAnswers
                      if question.company
                        td(style='text-align:center')=question.company.name
                      else
                        td
                      td=question.author.name
                      td(style='text-align:center')=moment(question.createdAt).format('YYYY-MM-DD')
                      if question.status==2
                        td(style='text-align:center')=moment(question.statusDate).format('YYYY-MM-DD')
                      else
                        td
                      td(style='text-align:center')=question.numReads
                      td
                        if question.status == 0
                          span.label.label-warning 접수대기
                        if question.status == 1
                          span.label.label-info 처리중
                        if question.status == 2
                          span.label.label-success 처리완료
      div#pagination
        +paginate(questions, '/questions/userpage', query)
      hr
      a.btn.btn-primary(href='/questions/new') 새 질문
